*{margin: 0; padding: 0;}
#root{
	width: 100vw;
	height: 100vh;
	max-width: 100%;
}
.con{
	width: 100vw;
	max-width: 100%;
	height: 100vh;
}
header{
	width: 100vw;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0vh;

	&>div:nth-child(1){
		width: 10vw;
		height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
		&>div{
			width: 1vw;
			height: 1vw;
			background-color:white;
		}
	}
	&>div:nth-child(2){
		width: 30vw;
		height: inherit;
		display: flex;
		align-items: center;
		// background-color: red;
		// background 색을 한번 넣어줘서 section을 한번 봐준다.
		// 레이아웃 내 위치를 position을 써서 잡는 것 보다 container div을 하나 만든 후
		// 그 안에 또 container div을 만들어서 justify-content값을 맞춰주는 게 더 깔끔해 보인다.
		// position은 일일이 값을 또 맞춰줘야하기 때문에 중앙, 왼쪽정렬, 오른쪽 정렬과 같은 값을
		// 사용하기가 애매해진다.
		justify-content: center;
		
		&>ul{
			width: 20vw;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			color: whitesmoke;
			list-style: none;
			// background-color: blue;
			// background 튀는 색으로 본 후 section 확인하면서 위치 잡아주기
		}
	}
	
}
main{
	width: 100vw;
	height: 70vh;
	max-width: 100%;
	background-color: gray;
	display: flex;
	justify-content: center;

		&>div{
			width: 90vw;
			height: 50vh;
			position: relative;
			top:15vh;
			display: flex;
			justify-content: space-between;

			&>div:nth-child(1){
				display: flex;
				width: 10vw;
				height: 50vh;
				align-items: center;

				&>div:nth-child(1){
					width:0.1vw;
					height:50vh;
					background-color: whitesmoke;
					border-radius: 1vw;
				}
				&>div:nth-child(2){
					width:5vw;
					height:50vh;
					display: flex;
					align-items: center;
					color: white;
					&>div:nth-child(1){
						width: 0.5vw;
						height:0.5vw;
						border-radius:1vw;
						background-color: white;
						margin-left: 0.5vw;
						margin-right: 0.2vw;
					}
				
				}

			}
	}
}