*{margin: 0; padding: 0;}
#root{
	width: 100vw;
	height: 150vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.con{
	width: 30vw;
	height: 150vh;
	background-color:rgb(59, 59, 59);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.circle{
	&>div:nth-child(1){
		width: 10vw;
		height: 10vw;
		border-radius: 15vw;
		background-color:salmon;
		position: relative;
		left: 5vw;
		top: 10vh;
	}
	&>div:nth-child(2){
		width: 15vw;
		height: 15vw;
		border-radius: 20vw;
		border: 3px solid rgb(255, 208, 0);
		position: relative;
		left: 10vw;
		bottom: 5vh;
		
	}
}
.dot{
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 38vw;
	top: 30vh;

	&>div{
		width: 0.5vw;
		height: 0.5vw;
		border-radius: 1vw;
		background-color: whitesmoke;
		margin-bottom: 1vh;
	}	
}
.blur1{
	backdrop-filter: blur(5px);
	background-color: rgba(33,35,32,0.2);
	position: absolute;
	top: 31vh;
	left: 37vw;
	border-radius: 2vw;
	&>div{
	width: 20vw;
	height: 20vw;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 4vw;
	&>div{
		&>h1{
			font-size: 3rem;
		}
	}
	}
}
.blur2{
	backdrop-filter: blur(5px);
	position: absolute;
	border-radius: 2vw;
	top: 75vh;
	margin-left: 2vw;
	background-color:rgba(0, 255, 8,0.1);
	&>div{
	width: 20vw;
	height: 20vw;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	margin-left: 4vw;
	justify-content: center;
	&>div{
		&>h1{
			font-size: 3rem;
		}
	}
	}
}