*{
	margin: 0;
	padding: 0;
}
#root{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.container{
	width: 25vw;
	height: 25vw;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;	
	overflow: hidden;

	& > div {
		min-width: 20vw;
		min-height: 20vw;
		background-color: lightblue;
		margin: 10px;
	}
}