*{
	padding: 0;
	margin: 0;
}
#root{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.con{
	width: 20vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:white;
	font-family: 'Noto Sans KR', sans-serif;
	border: 1px solid black;
}
.plus{
color: black;
opacity: 0.7;
width: 15vw;
text-align: left;
font-size: 5rem;
margin-bottom: 2vh;
position: relative;
right: 1vw;
bottom: 1vh;
}
.text{
	opacity: 0.7;
	margin-bottom: 7vh;
	margin-right: 1vw;
}
.dot{
	display: flex;
	justify-content: flex-end;
	width:80%;
	margin-bottom: 2vh;
}
.dot>div{
	width: 0.5vw;
	height: 0.5vw;
	border-radius: 100%;
	background-color: darkgray;
	margin-left:0.5vw;
}
.dot>div:nth-child(1){
	background-color:black;
}
.card{
	width: 18vw;
	height: 20vh;
	background-color:darkgray;
	border-radius:1vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card>div:nth-child(1){
	width: 17vw;
	display: flex;
	justify-content: end;
	color: white;
	opacity: 0.5;
	position: relative;
	top: 1vh;
}
.card>div:nth-child(2){
	font-size: 1.5rem;
	color:black;
	text-align: center;
	opacity: 0.7;
}
.card-contents{
	display: flex;
	width: 15vw;
	align-items: center;
	justify-content: space-between;
	margin-top: 1vh;
	
}

.card-contents>div:nth-child(1){
	display: flex;
	flex-direction: column;
	width: max-content;
	padding: 1vw;
	justify-content: center;
}
.card-contents>div:nth-child(1)>div:nth-child(1){
display: flex;
justify-content: space-between;
}	

.card-contents>div:nth-child(1)>div:nth-child(2){
	display: flex;
	justify-content: space-between;
}
.card-contents>div:nth-child(1)>div:nth-child(3)>h5{
	text-align: justify;
}
.card-contents>div:nth-child(2)>div:nth-child(1){
	width: 2vw;
	height: 3vh;
	background-color: gray;
	border-radius: 0.5vw;
	margin-bottom: 1vh;
}
.card-contents>div:nth-child(2){
	width: 5vw;
	display: flex;
	flex-direction: column;
	width: max-content;
	justify-content:end;
	position: relative;
	right: 0.5vw;
}
.element{
	width: 18vw;
	height: 32vh;
	background-color:darkgray;
	border-radius:1vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4vh;
	justify-content: center;
	font-weight: 100;
}
.element>div{
	margin-bottom: 2vh;
}

.element>div>div:nth-child(1){
	width: 16vw;
	display: flex;
	justify-content: space-between;
}
.bar{
	width: 16vw;
	height: 1vh;
	background-color: gray;
	border-radius: 1vw;
	display: flex;
	justify-content: start;
	align-items: center;
}

.bar-3{
	width: 3vw;
	height: 1vh;
	background-color: black;
	border-radius: 1vw;
	opacity: 0.6;
	margin-right:4vw;
}
.bar-6{
	width: 6vw;
	height: 1vh;
	background-color: black;
	border-radius: 1vw;
	opacity: 0.6;
	margin-right:4vw;

}
.bar-9{
	width: 9vw;
	height: 1vh;
	background-color: black;
	border-radius: 1vw;
	opacity: 0.6;
	margin-right:4vw;

}
.bar-dot{
	width: 0.6vh;
	height: 0.6vh;
	background-color: white;
	border-radius: 1vh;
}
.white{
	color: white;
	opacity: 0.8;
}
.box{
	width: 4vw;
	background-color: gray;
	color: black;
	opacity: 0.7;
	height: 3vh;
	border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	right: 5vw;
	margin-top: 2vh;
}
.p-l-1{
	position: relative;
	left: 6.5vw;
}
.p-l-2{
	position: relative;
	left: 9.5vw;
}
.p-l-3{
	position: relative;
	left: 12.5vw;
}
.b-s{
	box-shadow: 3px 3px 3px gray;
}
