*{padding: 0; margin: 0;}
:root{
	--g:gray;
	--dg:darkgray;
	--lg:lightgray;
	--b:rgb(0, 140, 255);
}

#root{
	width: 100vw;
	height: 100vh;
	background-color:var(--lg);
	display: flex;
	justify-content: center;
}
.con{
	width: 20vw;
	height: inherit;
	background-color:var(--b);
	display: flex;
	justify-content: center;
}
.con>div{
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 20vh;
	align-items: center;
}

/* input tag */
.input{
	display: flex;
	flex-direction: column;
	width: 15vw;
	height:max-content;
	margin-bottom: 2vh;
}
.input>div:nth-child(1){
	display: flex;
	justify-content: flex-start;
	color: white;
	font-size: 2rem;
}
.input>div:nth-child(2){
	width: 15vw;
	height: 4vh;
	background-color:white;
	color:var(--b);
	display: flex;
	align-items: center;
}
.input>div:nth-child(2)>p{
	position: relative;
	left: 1vw;
}
.con>div>div:nth-child(4){
	width: 15vw;
	height: max-content;
	display: flex;
	justify-content: flex-start;
}
.con>div>div:nth-child(4)>p{
	color: white;
}
.con>div>div:nth-child(5){
	width: 12vw;
	height: 4vh;
	background-color:rgb(0, 89, 141);
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 3vh;
	position: relative;
	left: 1vw;
	border-radius: 0.5vw;
}
.con>div>div:nth-child(5)>p{
	color: white;
	font-size: 1.5rem;
}
.confirm{
	width: 20vw;
	height: 5vh;
	display: flex;
	justify-content:flex-end;
	align-items: center;
	position: relative;
	left: 5vw;
}
.confirm>div{
	width: 10vw;
	height: 5vh;
	background-color:blue;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	border-radius: 1vw;
}
.con>menu{
	width: 5vw;
	height: inherit;
	background-color: aliceblue;
	position: relative;
	right:10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.con>menu>div{
	width: 2vw;
	height: 3vh;
	background-color: var(--b);
	margin-bottom: 7vh;
}

